{% load i18n %}

<footer id="footer" class="footer position-relative">
  <div class="container">
    <div class="copyright text-center">
      <p>
        © <span>{% trans "Copyright" %}</span> 
        <strong class="px-1 sitename">{{ site_settings.get_site_name|default:'pYTHON' }}</strong> 
        <span>{% trans "All Rights Reserved" %}</span> 
        <span class="text-success fw-bold">{% trans "Version 3.0.0" %}</span>
      </p>
    </div>
    <div class="credits text-center">
      {% if site_settings.get_footer_text %}
        <br><small>{{ site_settings.get_footer_text }}</small>
      {% endif %}
    </div>
  </div>
</footer>